@tailwind base;
@tailwind components;
@tailwind utilities;

#inputIDBlack::placeholder {
  color: black;
  opacity: 0.8;
}

#inputIDWhite::placeholder {
  color: white;
  opacity: 0.8;
}

.buttonDark {
  --tw-bg-opacity: 1;
  background-color: #1a2d3f;
  color: #228be6;
}

.buttonDark:hover {
  --tw-bg-opacity: 1;
  background-color: #051c36;
}

.buttonWhite {
  --tw-bg-opacity: 1;
  background-color: #2563eb;
}

.buttonWhite:hover {
  --tw-bg-opacity: 1;
  background-color: #1d4ed8;
}

.buttonSearchDark {
  --tw-bg-opacity: 1;
  background-color: #1a2d3f;
  color: #228be6;
}
.buttonSearchDark:hover {
  --tw-bg-opacity: 1;
  background-color: #051c36;
}

.buttonSearchWhite {
  --tw-bg-opacity: 1;
  background-color: #2563eb;
}

.buttonSearchWhite:hover {
  --tw-bg-opacity: 1;
  background-color: #1d4ed8;
}

.mantine-h5cr7z.mantine-Carousel-viewport {
  height: 100% !important;
}

.mantine-i1rj5r.mantine-Carousel-container {
  height: 250px;
}

button.mantine-UnstyledButton-root.mantine-Carousel-control.mantine-1u58w9r {
  opacity: 1;
  background-color: #1a2d3f;
}

button.mantine-UnstyledButton-root.mantine-Carousel-control.mantine-1u58w9r
  svg {
  opacity: 1;
  color: #228be6;
}
.mantine-19swgkw.mantine-Carousel-indicators {
  bottom: -2.6rem;
}

button.mantine-UnstyledButton-root.mantine-Carousel-indicator.mantine-ypy11r {
  background-color: #228be6;
}

button.mantine-UnstyledButton-root.mantine-Carousel-indicator.mantine-1jkjqkp {
  background-color: #228be6;
}

.whychooseuseroot {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.3;
}

@media only screen and (max-width: 768px) {
  .tittle__lead {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .teamcard {
    height: "17.9375rem" !important;
    width: "17.9375rem" !important;
  }
}

.desk {
  text-align: center;
  /* opacity: 0; */
  transform: translate(0px, -200px);

  transition: all 0.4s ease 0s;
  position: relative;
  padding: 0 20px;
}

.socials {
  display: flex;
  position: absolute;
  /* opacity: 0; */
  top: 50%;
  left: 50%;
  transition: all 0.4s ease 0s;
  transform: translate(-50%, 800%);
  font-size: 15px;
}

.mainCardWhole {
  transition: all 0.4s ease 0s;
}

.line::before {
  flex-grow: 1;
  height: 1px;
  content: "\a0";
  background-color: #ddd;
  position: relative;
  top: 0.5em;
  margin: 5px 15px;
  padding: 0px 50px;
}

.line::after {
  flex-grow: 1;
  height: 1px;
  content: "\a0";
  background-color: #ddd;
  position: relative;
  top: 0.5em;
  margin: 5px 15px;
  padding: 0px 50px;
}

@media only screen and (max-width: 529px) {
  .line::after {
    display: none;
  }
  .line::before {
    display: none;
  }
}

.testimonialBlock {
  padding: 3rem;
  border-radius: 4px;
  border: 1px solid #f4f4f4;
  background-color: #fff;
  transition: all 0.3s ease;
  box-shadow: -4px 3px 32px -2px #eee;
}

.testimonialBlock::before {
  font-family: FontAwesome;
  content: "\f10d";
  display: block;
  color: #e5e5e5;
  position: absolute;
  left: 4%;
  top: 9%;
  font-size: 24px;
  z-index: -1;
}
.comment {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #212529;
  line-height: 1.5;
}
.testimonialUser {
  position: relative;
  margin-top: -35px;
  padding-left: 30px;
  display: -webkit-inline-box;
}
.testimonialUserImage {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  max-width: 100%;
  object-fit: cover;
}
.testimonialUserName {
  float: right;
  background: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid #f4f4f4;
  transition: all 0.3s ease;
  margin-right: 30px;
  color: #3454d1;
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  box-shadow: 3px 18px 29px -18px #e8e8e8;

  transform: translate(210px, 0px);
}
.testimonial {
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.bord {
  width: 535px;
  margin-right: 20px;
}

@media only screen and (max-width:570px){
  
}