@tailwind base;
@tailwind components;
@tailwind utilities;

#inputIDBlack::placeholder {
  color: black;
  opacity: 0.8;
}

#inputIDWhite::placeholder {
  color: white;
  opacity: 0.8;
}

.buttonDark {
  --tw-bg-opacity: 1;
  background-color: #1a2d3f;
  color: #228be6;
}

.buttonDark:hover {
  --tw-bg-opacity: 1;
  background-color: #051c36;
}

.buttonWhite {
  --tw-bg-opacity: 1;
  background-color: #2563eb;
}

.buttonWhite:hover {
  --tw-bg-opacity: 1;
  background-color: #1d4ed8;
}

.buttonSearchDark {
  --tw-bg-opacity: 1;
  background-color: #1a2d3f;
  color: #228be6;
}
.buttonSearchDark:hover {
  --tw-bg-opacity: 1;
  background-color: #051c36;
}

.buttonSearchWhite {
  --tw-bg-opacity: 1;
  background-color: #2563eb;
}

.buttonSearchWhite:hover {
  --tw-bg-opacity: 1;
  background-color: #1d4ed8;
}

.mantine-h5cr7z.mantine-Carousel-viewport {
  height: 100% !important;
}

.mantine-i1rj5r.mantine-Carousel-container {
  height: 250px;
}

button.mantine-UnstyledButton-root.mantine-Carousel-control.mantine-1u58w9r {
  opacity: 1;
  background-color: #1a2d3f;
}

button.mantine-UnstyledButton-root.mantine-Carousel-control.mantine-1u58w9r
  svg {
  opacity: 1;
  color: #228be6;
}
.mantine-19swgkw.mantine-Carousel-indicators {
  bottom: -2.6rem;
}

button.mantine-UnstyledButton-root.mantine-Carousel-indicator.mantine-ypy11r {
  background-color: #228be6;
}

button.mantine-UnstyledButton-root.mantine-Carousel-indicator.mantine-1jkjqkp {
  background-color: #228be6;
}

.whychooseuseroot {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.3;
}

@media only screen and (max-width: 768px) {
  .tittle__lead {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .teamcard {
    height: "17.9375rem" !important;
    width: "17.9375rem" !important;
  }
}

.desk {
  text-align: center;
  /* opacity: 0; */
  transform: translate(0px, -200px);

  transition: all 0.4s ease 0s;
  position: relative;
  padding: 0 20px;
}

.socials {
  display: flex;
  position: absolute;
  /* opacity: 0; */
  top: 50%;
  left: 50%;
  transition: all 0.4s ease 0s;
  transform: translate(-50%, 800%);
  font-size: 15px;
}

.mainCardWhole {
  transition: all 0.4s ease 0s;
}

.line::before {
  flex-grow: 1;
  height: 1px;
  content: "\a0";
  background-color: #ddd;
  position: relative;
  top: 0.5em;
  margin: 5px 15px;
  padding: 0px 50px;
}

.line::after {
  flex-grow: 1;
  height: 1px;
  content: "\a0";
  background-color: #ddd;
  position: relative;
  top: 0.5em;
  margin: 5px 15px;
  padding: 0px 50px;
}

@media only screen and (max-width: 529px) {
  .line::after {
    display: none;
  }
  .line::before {
    display: none;
  }
}

.testimonialBlock {
  padding: 3rem;
  border-radius: 0;
  border: 1px solid #f4f4f4;
  background-color: #fff;
  /* transition: all 0.3s ease; */
  box-shadow: -4px 3px 32px -2px #eee;
}

.testimonialBlockBlack {
  padding: 3rem;
  border-radius: 0;
  /* border: 1px solid #f4f4f4; */
  background-color: #1a2d3f;
  /* transition: all 0.3s ease; */
}

.testimonialBlock::before {
  font-family: FontAwesome;
  content: "\f10d";
  display: block;
  color: #e5e5e5;
  position: absolute;
  left: 4%;
  top: 9%;
  font-size: 24px;
  z-index: -1;
}
.comment {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #212529;
  line-height: 1.5;
}

.commentBlack {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #228be6;
  line-height: 1.5;
}

.testimonialUser {
  position: relative;
  margin-top: -35px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
}

.userPosition {
  color: #495057;
  font-size: 14px;
}

.userPositionBlack {
  color: #228be6;
  font-size: 14px;
}

.testimonialUserImage {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  max-width: 100%;
  object-fit: cover;
}
.testimonialUserName {
  /* float: right; */
  background: #fff;
  padding: 10px 20px;
  border-radius: 0;
  border: 1px solid #f4f4f4;
  /* transition: all 0.3s ease; */
  margin-right: 30px;
  color: #3454d1;
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  box-shadow: 3px 18px 29px -18px #e8e8e8;

  /* transform: translate(210px, 0px); */
}
.testimonialUserNameBlack {
  /* float: right; */
  background: #1a2d3f;
  padding: 10px 20px;
  border-radius: 0;
  /* border: 1px solid #f4f4f4; */
  /* transition: all 0.3s ease; */
  margin-right: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;

  /* transform: translate(210px, 0px); */
}

.testimonial {
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.bord {
  width: auto;
  /* margin-right: 20px; */
}

/* @media only screen and (max-width: 1100px) {
  .carousel {
    height: 280px;
  }
} */

/* @media only screen and (max-width: 1100px) {
  .carousel {
    height: 280px;
  }
} */
@media only screen and (max-width: 1000px) {
  .testimonialBlock {
    padding: 2rem;
  }
  .testimonialBlockBlack {
    padding: 2rem;
  }
  .testimonialUser {
    margin-top: -25px;
  }
  .testimonialUserName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
  }
  .testimonialUserNameBlack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 425px) {
  .testimonialUserImage {
    width: 70px;
    height: 70px;
  }
  .testimonialUserName {
    padding: 0px 6px;
    font-size: 11px;
  }
  .testimonialUserNameBlack {
    padding: 0px 6px;
    font-size: 11px;
  }
  .userPosition {
    font-size: 11px;
  }
  .userPositionBlack {
    font-size: 11px;
  }
}

@-webkit-keyframes ripple {
  70% {
    box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes ripple {
  70% {
    box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.home__video {
  padding: 150px 0;
}
@media screen and (min-width: 320px) and (max-width: 575px) {
  .home__video {
    padding: 80px 0;
  }
}
.home__video-area .play-video-1 {
  left: 50%;
  top: 50%;
  position: absolute !important;
}
@media screen and (min-width: 320px) and (max-width: 575px) {
  .home__video-area .play-video-1 {
    left: 40%;
    top: 35%;
  }
}
.home__video-area .play-video,
.home__video-area .play-video-1 {
  height: 65px;
  width: 65px;
  text-align: center;
  line-height: 65px;
  background-color: #3454d1;
  z-index: 1;
  font-size: 20px;
  display: inline-block;
  position: relative;
  transform-origin: center center;
  border-radius: 50%;
  -ms-box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.1);
  -o-box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.1);
}

.home__video-area .play-video::before,
.home__video-area .play-video::after,
.home__video-area .play-video-1::before,
.home__video-area .play-video-1::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65px;
  width: 65px;
  transform: translateX(-50%) translateY(-50%);
  transform-origin: center center;
  border-radius: 50%;
  -ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
  -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
  -webkit-animation: ripple 3s infinite;
  animation: ripple 3s infinite;
}
.home__video-area .play-video::before,
.home__video-area .play-video-1::before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  content: "";
}
.home__video-area .play-video::after,
.home__video-area .play-video-1::after {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  content: "";
}
.home__video-area h2 {
  font-size: 32px;
  text-transform: capitalize;
  padding-top: 50px;
  font-family: "Open Sans", serif;
  margin-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 575px) {
  .home__video-area h2 {
    font-size: 24px;
    padding-top: 30px;
  }
}

.bg-theme-v6 {
  background-image: url(https://wallsproperty.netlify.app/images/bg18.jpg);
  width: 100%;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  position: relative;
}

.bg-theme-v6::before {
  background-color: rgba(18, 18, 18, 0.73);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.justify-content-center {
  justify-content: center !important;
}
