@tailwind base;
@tailwind components;
@tailwind utilities;

#inputIDBlack::placeholder {
  color: black;
  opacity: 0.8;
}

#inputIDWhite::placeholder {
  color: white;
  opacity: 0.8;
}

.buttonSearchDark {
  --tw-bg-opacity: 1;
  background-color: #1a2d3f;
  color: #228be6;
}

.buttonSearchDark:hover {
  --tw-bg-opacity: 1;
  background-color: #1a2d3f;
}

.buttonSearchWhite {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.buttonSearchWhite:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}
